__pycache__
split_dataset.py
wandb
outputs
/dataset/
!/dataset/.empty
challenge_subset
create_test.py
/dataset.zip
/checkpoints/
!/checkpoints/.empty
submission_clip.py
test_clip.py
/challenge_org
ocr/2024-05-19_16-20-22/.hydra/config.yaml
ocr/2024-05-19_16-20-22/.hydra/hydra.yaml
ocr/2024-05-19_16-20-22/.hydra/overrides.yaml
ocr/2024-05-19_16-20-22/ocr.log
ocr/2024-05-19_16-22-03/.hydra/config.yaml
ocr/2024-05-19_16-22-03/.hydra/hydra.yaml
ocr/2024-05-19_16-22-03/.hydra/overrides.yaml
ocr/2024-05-19_16-22-03/ocr.log
ocr/2024-05-19_16-22-53/.hydra/config.yaml
ocr/2024-05-19_16-22-53/.hydra/hydra.yaml
ocr/2024-05-19_16-22-53/.hydra/overrides.yaml
ocr/2024-05-19_16-22-53/ocr.log
ocr/2024-05-19_16-23-51/.hydra/config.yaml
ocr/2024-05-19_16-23-51/.hydra/hydra.yaml
ocr/2024-05-19_16-23-51/.hydra/overrides.yaml
ocr/2024-05-19_16-23-51/ocr.log
ocr/2024-05-19_16-29-07/.hydra/config.yaml
ocr/2024-05-19_16-29-07/.hydra/hydra.yaml
ocr/2024-05-19_16-29-07/.hydra/overrides.yaml
ocr/2024-05-19_16-29-07/ocr.log
ocr/2024-05-19_16-32-17/.hydra/config.yaml
ocr/2024-05-19_16-32-17/.hydra/hydra.yaml
ocr/2024-05-19_16-32-17/.hydra/overrides.yaml
ocr/2024-05-19_16-32-17/ocr.log
ocr/2024-05-19_16-33-10/.hydra/config.yaml
ocr/2024-05-19_16-33-10/.hydra/hydra.yaml
ocr/2024-05-19_16-33-10/.hydra/overrides.yaml
ocr/2024-05-19_16-33-10/ocr.log
ocr/2024-05-19_17-28-28/.hydra/config.yaml
ocr/2024-05-19_17-28-28/.hydra/hydra.yaml
ocr/2024-05-19_17-28-28/.hydra/overrides.yaml
ocr/2024-05-19_17-28-28/ocr.log
ocr/2024-05-19_20-00-16/.hydra/config.yaml
ocr/2024-05-19_20-00-16/.hydra/hydra.yaml
ocr/2024-05-19_20-00-16/.hydra/overrides.yaml
ocr/2024-05-19_20-00-16/ocr.log
ocr/2024-05-19_20-04-40/.hydra/config.yaml
ocr/2024-05-19_20-04-40/.hydra/hydra.yaml
ocr/2024-05-19_20-04-40/.hydra/overrides.yaml
ocr/2024-05-19_20-04-40/ocr.log
ocr/2024-05-19_20-05-13/.hydra/config.yaml
ocr/2024-05-19_20-05-13/.hydra/hydra.yaml
ocr/2024-05-19_20-05-13/.hydra/overrides.yaml
ocr/2024-05-19_20-05-13/ocr.log
ocr/2024-05-19_20-15-06/.hydra/config.yaml
ocr/2024-05-19_20-15-06/.hydra/hydra.yaml
ocr/2024-05-19_20-15-06/.hydra/overrides.yaml
ocr/2024-05-19_20-15-06/ocr.log
ocr/2024-05-19_20-27-47/.hydra/config.yaml
ocr/2024-05-19_20-27-47/.hydra/hydra.yaml
ocr/2024-05-19_20-27-47/.hydra/overrides.yaml
ocr/2024-05-19_20-27-47/ocr.log
ocr/2024-05-19_20-28-21/.hydra/config.yaml
ocr/2024-05-19_20-28-21/.hydra/hydra.yaml
ocr/2024-05-19_20-28-21/.hydra/overrides.yaml
ocr/2024-05-19_20-28-21/ocr.log
ocr/2024-05-19_20-33-40/.hydra/config.yaml
ocr/2024-05-19_20-33-40/.hydra/hydra.yaml
ocr/2024-05-19_20-33-40/.hydra/overrides.yaml
ocr/2024-05-19_20-33-40/ocr.log
ocr/2024-05-19_20-34-08/.hydra/config.yaml
ocr/2024-05-19_20-34-08/.hydra/hydra.yaml
ocr/2024-05-19_20-34-08/.hydra/overrides.yaml
ocr/2024-05-19_20-34-08/ocr.log
ocr/2024-05-19_21-56-38/.hydra/config.yaml
ocr/2024-05-19_21-56-38/.hydra/hydra.yaml
ocr/2024-05-19_21-56-38/.hydra/overrides.yaml
ocr/2024-05-19_21-56-38/ocr.log
ocr/2024-05-19_21-57-06/.hydra/config.yaml
ocr/2024-05-19_21-57-06/.hydra/hydra.yaml
ocr/2024-05-19_21-57-06/.hydra/overrides.yaml
ocr/2024-05-19_21-57-06/ocr.log
ocr/2024-05-19_22-01-14/.hydra/config.yaml
ocr/2024-05-19_22-01-14/.hydra/hydra.yaml
ocr/2024-05-19_22-01-14/.hydra/overrides.yaml
ocr/2024-05-19_22-01-14/ocr.log
ocr/2024-05-19_22-03-21/.hydra/config.yaml
ocr/2024-05-19_22-03-21/.hydra/hydra.yaml
ocr/2024-05-19_22-03-21/.hydra/overrides.yaml
ocr/2024-05-19_22-03-21/ocr.log
ocr/2024-05-19_22-12-03/.hydra/config.yaml
ocr/2024-05-19_22-12-03/.hydra/hydra.yaml
ocr/2024-05-19_22-12-03/.hydra/overrides.yaml
ocr/2024-05-19_22-12-03/ocr.log
ocr/2024-05-19_22-13-17/.hydra/config.yaml
ocr/2024-05-19_22-13-17/.hydra/hydra.yaml
ocr/2024-05-19_22-13-17/.hydra/overrides.yaml
ocr/2024-05-19_22-13-17/ocr.log
ocr/2024-05-19_22-15-09/.hydra/config.yaml
ocr/2024-05-19_22-15-09/.hydra/hydra.yaml
ocr/2024-05-19_22-15-09/.hydra/overrides.yaml
ocr/2024-05-19_22-15-09/ocr.log
ocr/2024-05-19_22-20-41/.hydra/config.yaml
ocr/2024-05-19_22-20-41/.hydra/hydra.yaml
ocr/2024-05-19_22-20-41/.hydra/overrides.yaml
ocr/2024-05-19_22-20-41/ocr.log
ocr/2024-05-19_22-25-20/.hydra/config.yaml
ocr/2024-05-19_22-25-20/.hydra/hydra.yaml
ocr/2024-05-19_22-25-20/.hydra/overrides.yaml
ocr/2024-05-19_22-25-20/ocr.log
ocr/2024-05-19_22-29-34/.hydra/config.yaml
ocr/2024-05-19_22-29-34/.hydra/hydra.yaml
ocr/2024-05-19_22-29-34/.hydra/overrides.yaml
ocr/2024-05-19_22-29-34/ocr.log
ocr/2024-05-19_22-30-26/.hydra/config.yaml
ocr/2024-05-19_22-30-26/.hydra/hydra.yaml
ocr/2024-05-19_22-30-26/.hydra/overrides.yaml
ocr/2024-05-19_22-30-26/ocr.log
ocr/2024-05-19_23-31-24/.hydra/config.yaml
ocr/2024-05-19_23-31-24/.hydra/hydra.yaml
ocr/2024-05-19_23-31-24/.hydra/overrides.yaml
ocr/2024-05-19_23-31-24/ocr.log
ocr/2024-05-19_23-32-46/.hydra/config.yaml
ocr/2024-05-19_23-32-46/.hydra/hydra.yaml
ocr/2024-05-19_23-32-46/.hydra/overrides.yaml
ocr/2024-05-19_23-32-46/ocr.log
ocr/2024-05-19_23-33-14/.hydra/config.yaml
ocr/2024-05-19_23-33-14/.hydra/hydra.yaml
ocr/2024-05-19_23-33-14/.hydra/overrides.yaml
ocr/2024-05-19_23-33-14/ocr.log
ocr/2024-05-19_23-36-00/.hydra/config.yaml
ocr/2024-05-19_23-36-00/.hydra/hydra.yaml
ocr/2024-05-19_23-36-00/.hydra/overrides.yaml
ocr/2024-05-19_23-36-00/ocr.log
ocr/2024-05-19_23-39-07/.hydra/config.yaml
ocr/2024-05-19_23-39-07/.hydra/hydra.yaml
ocr/2024-05-19_23-39-07/.hydra/overrides.yaml
ocr/2024-05-19_23-39-07/ocr.log
ocr/2024-05-19_23-42-30/.hydra/config.yaml
ocr/2024-05-19_23-42-30/.hydra/hydra.yaml
ocr/2024-05-19_23-42-30/.hydra/overrides.yaml
ocr/2024-05-19_23-42-30/ocr.log
ocr/2024-05-19_23-46-26/.hydra/config.yaml
ocr/2024-05-19_23-46-26/.hydra/hydra.yaml
ocr/2024-05-19_23-46-26/.hydra/overrides.yaml
ocr/2024-05-19_23-46-26/ocr.log
ocr/2024-05-19_23-46-26/ocr_test_param/easyocr/accuracy_comparison.png
ocr/2024-05-19_23-46-26/ocr_test_param/easyocr/accuracy_difflib.png
ocr/2024-05-19_23-46-26/ocr_test_param/easyocr/accuracy_fuzzywuzzy.png
ocr/2024-05-19_23-46-26/ocr_test_param/easyocr/accuracy_jellyfish.png
ocr/2024-05-19_23-46-26/ocr_test_param/easyocr/accuracy_rapidfuzz.png
ocr/2024-05-19_23-46-26/ocr_test_param/easyocr/guesses_difflib.png
ocr/2024-05-19_23-46-26/ocr_test_param/easyocr/guesses_fuzzywuzzy.png
ocr/2024-05-19_23-46-26/ocr_test_param/easyocr/guesses_jellyfish.png
ocr/2024-05-19_23-46-26/ocr_test_param/easyocr/guesses_rapidfuzz.png
ocr/2024-05-19_23-46-26/ocr_test_param/tesseract/accuracy_comparison.png
ocr/2024-05-19_23-46-26/ocr_test_param/tesseract/accuracy_difflib.png
ocr/2024-05-19_23-46-26/ocr_test_param/tesseract/accuracy_fuzzywuzzy.png
ocr/2024-05-19_23-46-26/ocr_test_param/tesseract/accuracy_jellyfish.png
ocr/2024-05-19_23-46-26/ocr_test_param/tesseract/accuracy_rapidfuzz.png
ocr/2024-05-19_23-46-26/ocr_test_param/tesseract/guesses_difflib.png
ocr/2024-05-19_23-46-26/ocr_test_param/tesseract/guesses_fuzzywuzzy.png
ocr/2024-05-19_23-46-26/ocr_test_param/tesseract/guesses_jellyfish.png
ocr/2024-05-19_23-46-26/ocr_test_param/tesseract/guesses_rapidfuzz.png
ppocr_img/.DS_Store
ppocr_img/ch/ch.jpg
ppocr_img/ch/word_1.jpg
ppocr_img/fonts/arabic.ttf
ppocr_img/fonts/chinese_cht.ttf
ppocr_img/fonts/cyrillic.ttf
ppocr_img/fonts/french.ttf
ppocr_img/fonts/german.ttf
ppocr_img/fonts/hindi.ttf
ppocr_img/fonts/japan.ttc
ppocr_img/fonts/kannada.ttf
ppocr_img/fonts/korean.ttf
ppocr_img/fonts/latin.ttf
ppocr_img/fonts/marathi.ttf
ppocr_img/fonts/nepali.ttf
ppocr_img/fonts/persian.ttf
ppocr_img/fonts/simfang.ttf
ppocr_img/fonts/spanish.ttf
ppocr_img/fonts/tamil.ttf
ppocr_img/fonts/telugu.ttf
ppocr_img/fonts/urdu.ttf
ppocr_img/fonts/uyghur.ttf
ppocr_img/imgs/00006737.jpg
ppocr_img/imgs/00009282.jpg
ppocr_img/imgs/00015504.jpg
ppocr_img/imgs/00018069.jpg
ppocr_img/imgs/00056221.jpg
ppocr_img/imgs/00057937.jpg
ppocr_img/imgs/00059985.jpg
ppocr_img/imgs/00077949.jpg
ppocr_img/imgs/00111002.jpg
ppocr_img/imgs/00207393.jpg
ppocr_img/imgs/1.jpg
ppocr_img/imgs/11.jpg
ppocr_img/imgs/12.jpg
ppocr_img/imgs/french_0.jpg
ppocr_img/imgs/ger_1.jpg
ppocr_img/imgs/ger_2.jpg
ppocr_img/imgs/japan_1.jpg
ppocr_img/imgs/japan_2.jpg
ppocr_img/imgs/korean_1.jpg
ppocr_img/imgs/model_prod_flow_ch.png
ppocr_img/imgs_en/254.jpg
ppocr_img/imgs_en/img623.jpg
ppocr_img/imgs_en/img_10.jpg
ppocr_img/imgs_en/img_11.jpg
ppocr_img/imgs_en/img_12.jpg
ppocr_img/imgs_en/img_195.jpg
ppocr_img/imgs_en/model_prod_flow_en.png
ppocr_img/imgs_words/.DS_Store
ppocr_img/imgs_words/arabic/ar_1.jpg
ppocr_img/imgs_words/arabic/ar_2.jpg
ppocr_img/imgs_words/belarusian/be_1.jpg
ppocr_img/imgs_words/belarusian/be_2.jpg
ppocr_img/imgs_words/bulgarian/bg_1.jpg
ppocr_img/imgs_words/bulgarian/bg_2.jpg
ppocr_img/imgs_words/ch/word_1.jpg
ppocr_img/imgs_words/ch/word_2.jpg
ppocr_img/imgs_words/ch/word_3.jpg
ppocr_img/imgs_words/ch/word_4.jpg
ppocr_img/imgs_words/ch/word_5.jpg
ppocr_img/imgs_words/chinese_traditional/chinese_cht_1.png
ppocr_img/imgs_words/chinese_traditional/chinese_cht_2.png
ppocr_img/imgs_words/en/word_1.png
ppocr_img/imgs_words/en/word_2.png
ppocr_img/imgs_words/en/word_3.png
ppocr_img/imgs_words/en/word_4.png
ppocr_img/imgs_words/en/word_5.png
ppocr_img/imgs_words/french/1.jpg
ppocr_img/imgs_words/french/2.jpg
ppocr_img/imgs_words/german/1.jpg
ppocr_img/imgs_words/hindi/hi_1.jpg
ppocr_img/imgs_words/hindi/hi_2.jpg
ppocr_img/imgs_words/italian/it_1.jpg
ppocr_img/imgs_words/italian/it_2.jpg
ppocr_img/imgs_words/japan/1.jpg
ppocr_img/imgs_words/kannada/ka_1.jpg
ppocr_img/imgs_words/kannada/ka_2.jpg
ppocr_img/imgs_words/korean/1.jpg
ppocr_img/imgs_words/korean/2.jpg
ppocr_img/imgs_words/marathi/mr_1.jpg
ppocr_img/imgs_words/marathi/mr_2.jpg
ppocr_img/imgs_words/nepali/ne_1.jpg
ppocr_img/imgs_words/nepali/ne_2.jpg
ppocr_img/imgs_words/occitan/oc_1.jpg
ppocr_img/imgs_words/occitan/oc_2.jpg
ppocr_img/imgs_words/persian/fa_1.jpg
ppocr_img/imgs_words/persian/fa_2.jpg
ppocr_img/imgs_words/portuguese/pu_1.jpg
ppocr_img/imgs_words/portuguese/pu_2.jpg
ppocr_img/imgs_words/russia/ru_1.jpg
ppocr_img/imgs_words/russia/ru_2.jpg
ppocr_img/imgs_words/serbian_cyrillic/rsc_1.jpg
ppocr_img/imgs_words/serbian_cyrillic/rsc_2.jpg
ppocr_img/imgs_words/serbian_latin/rs_1.jpg
ppocr_img/imgs_words/serbian_latin/rs_2.jpg
ppocr_img/imgs_words/spanish/xi_1.jpg
ppocr_img/imgs_words/spanish/xi_2.jpg
ppocr_img/imgs_words/tamil/ta_1.jpg
ppocr_img/imgs_words/tamil/ta_2.jpg
ppocr_img/imgs_words/telugu/te_1.jpg
ppocr_img/imgs_words/telugu/te_2.jpg
ppocr_img/imgs_words/ukranian/uk_1.jpg
ppocr_img/imgs_words/ukranian/uk_2.jpg
ppocr_img/imgs_words/urdu/ur_1.jpg
ppocr_img/imgs_words/urdu/ur_2.jpg
ppocr_img/imgs_words/uyghur/ug_1.jpg
ppocr_img/imgs_words/uyghur/ug_2.jpg
ppocr_img/table/1.png
ppocr_img/table/layout.jpg
ppocr_img/table/paper-image.jpg
ppocr_img/table/pipeline.jpg
ppocr_img/table/pipeline_en.jpg
ppocr_img/table/ppstructure.GIF
ppocr_img/table/result_all.jpg
ppocr_img/table/result_text.jpg
ppocr_img/table/table.jpg
ppocr_img/table/tableocr_pipeline.jpg
ppocr_img/table/tableocr_pipeline_en.jpg
__MACOSX/ppocr_img/._.DS_Store
__MACOSX/ppocr_img/._imgs_words
__MACOSX/ppocr_img/imgs_words/._.DS_Store
